In [3]:
import pandas as pd

df  = pd.read_csv(r"C:\Users\USER\Desktop\HACKATHONS\e-cell hackathon\Dataset\Updated_Inclusive_Indian_Online_Scam_Dataset.csv")

print(df.head())

   transaction_id  customer_id  merchant_id    amount  transaction_time  \
0             1.0     684415.0       2028.0  1262.770  11/24/2023 22:39
1             2.0     447448.0       2046.0  2222.928  03/30/2024 16:18
2             3.0     975001.0       2067.0  7509.832  03/07/2024 18:27
3             4.0     976547.0          NaN  2782.965  02/01/2024 00:58
4             5.0     935741.0       2044.0       NaN  12/22/2023 18:42

   is_fraudulent   card_type   location purchase_category  customer_age  \
0            0.0       Rupay  Bangalore               NaN          28.0
1            0.0  MasterCard      Surat               POS          62.0
2            0.0  MasterCard  Hyderabad               POS          24.0
3            0.0       Rupay  Hyderabad           Digital          62.0
4            0.0         NaN  Bangalore           Digital          19.0

           fraud_type
0      Identity theft
1             Malware
2             Malware
3  Payment card fraud
4                scam

In [4]:
print(df.isnull().sum())

transaction_id       475
customer_id          421
merchant_id          472
amount               692
transaction_time     568
is_fraudulent        725
card_type            567
location             523
purchase_category    532
customer_age         668
fraud_type           498
dtype: int64

In [5]:
df_cleaned = df.dropna(subset=['transaction_id',  'customer_id',  'merchant_id',    'amount',  'transaction_time',  'is_fraudulent',   'card_type',  'location', 'purchase_category',  'customer_age', 'fraud_type'  ])

In [6]:
print(df_cleaned.size)
df_cleaned.info()

38929
<class 'pandas.core.frame.DataFrame'>
Index: 3539 entries, 1 to 7951
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   transaction_id     3539 non-null   float64
 1   customer_id        3539 non-null   float64
 2   merchant_id        3539 non-null   float64
 3   amount             3539 non-null   float64
 4   transaction_time   3539 non-null   object
 5   is_fraudulent      3539 non-null   float64
 6   card_type          3539 non-null   object
 7   location           3539 non-null   object
 8   purchase_category  3539 non-null   object
 9   customer_age       3539 non-null   float64
 10  fraud_type         3539 non-null   object
dtypes: float64(6), object(5)
memory usage: 331.8+ KB

In [7]:
df_cleaned['transaction_time'] = pd.to_datetime(df_cleaned['transaction_time'], format = '%m/%d/%Y %H:%M')

C:\Users\USER\AppData\Local\Temp\ipykernel_13576\1002443672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['transaction_time'] = pd.to_datetime(df_cleaned['transaction_time'], format = '%m/%d/%Y %H:%M')

In [8]:
print(df_cleaned.isnull().sum())

transaction_id       0
customer_id          0
merchant_id          0
amount               0
transaction_time     0
is_fraudulent        0
card_type            0
location             0
purchase_category    0
customer_age         0
fraud_type           0
dtype: int64

In [9]:
df_cleaned.head()

,transaction_id,customer_id,merchant_id,amount,transaction_time,is_fraudulent,card_type,location,purchase_category,customer_age,fraud_type
1,2.0,447448.0,2046.0,2222.928,2024-03-30 16:18:00,0.0,MasterCard,Surat,POS,62.0,Malware
2,3.0,975001.0,2067.0,7509.832,2024-03-07 18:27:00,0.0,MasterCard,Hyderabad,POS,24.0,Malware
8,9.0,401388.0,2035.0,3904.200,2024-01-09 00:43:00,0.0,Visa,Kolkata,Digital,37.0,Malware
11,12.0,620576.0,2042.0,8069.630,2023-12-17 07:43:00,0.0,Rupay,Hyderabad,POS,33.0,Malware
14,15.0,679113.0,2019.0,11429.748,2023-09-10 23:01:00,1.0,Visa,Mumbai,Digital,24.0,Payment card fraud

In [10]:
df_cleaned.rename(columns={'is_fraudulent' : 'fraud'}, inplace=True)
df_cleaned.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_13576\1745395014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns={'is_fraudulent' : 'fraud'}, inplace=True)

,transaction_id,customer_id,merchant_id,amount,transaction_time,fraud,card_type,location,purchase_category,customer_age,fraud_type
1,2.0,447448.0,2046.0,2222.928,2024-03-30 16:18:00,0.0,MasterCard,Surat,POS,62.0,Malware
2,3.0,975001.0,2067.0,7509.832,2024-03-07 18:27:00,0.0,MasterCard,Hyderabad,POS,24.0,Malware
8,9.0,401388.0,2035.0,3904.200,2024-01-09 00:43:00,0.0,Visa,Kolkata,Digital,37.0,Malware
11,12.0,620576.0,2042.0,8069.630,2023-12-17 07:43:00,0.0,Rupay,Hyderabad,POS,33.0,Malware
14,15.0,679113.0,2019.0,11429.748,2023-09-10 23:01:00,1.0,Visa,Mumbai,Digital,24.0,Payment card fraud

In [11]:

print(df_cleaned.isnull().sum())

transaction_id       0
customer_id          0
merchant_id          0
amount               0
transaction_time     0
fraud                0
card_type            0
location             0
purchase_category    0
customer_age         0
fraud_type           0
dtype: int64

In [12]:
 
df_cleaned = df.dropna(subset=['transaction_id','customer_id','merchant_id','amount','transaction_time','is_fraudulent','customer_age'])

In [13]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4660 entries, 0 to 7951
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   transaction_id     4660 non-null   float64
 1   customer_id        4660 non-null   float64
 2   merchant_id        4660 non-null   float64
 3   amount             4660 non-null   float64
 4   transaction_time   4660 non-null   object
 5   is_fraudulent      4660 non-null   float64
 6   card_type          4282 non-null   object
 7   location           4386 non-null   object
 8   purchase_category  4350 non-null   object
 9   customer_age       4660 non-null   float64
 10  fraud_type         4340 non-null   object
dtypes: float64(6), object(5)
memory usage: 436.9+ KB

In [14]:
df_cleaned = pd.get_dummies(df, columns= ["card_type","location","purchase_category","fraud_type"])

In [15]:
df_cleaned.rename(columns={'is_fraudulent' : 'fraud'}, inplace=True)
df_cleaned.head()

,transaction_id,customer_id,merchant_id,amount,transaction_time,fraud,customer_age,card_type_MasterCard,card_type_Rupay,card_type_Visa,...,location_Mumbai,location_Pune,location_Surat,purchase_category_Digital,purchase_category_POS,fraud_type_Identity theft,fraud_type_Malware,fraud_type_Payment card fraud,fraud_type_phishing,fraud_type_scam
0,1.0,684415.0,2028.0,1262.770,11/24/2023 22:39,0.0,28.0,False,True,False,...,False,False,False,False,False,True,False,False,False,False
1,2.0,447448.0,2046.0,2222.928,03/30/2024 16:18,0.0,62.0,True,False,False,...,False,False,True,False,True,False,True,False,False,False
2,3.0,975001.0,2067.0,7509.832,03/07/2024 18:27,0.0,24.0,True,False,False,...,False,False,False,False,True,False,True,False,False,False
3,4.0,976547.0,NaN,2782.965,02/01/2024 00:58,0.0,62.0,False,True,False,...,False,False,False,True,False,False,False,True,False,False
4,5.0,935741.0,2044.0,NaN,12/22/2023 18:42,0.0,19.0,False,False,False,...,False,False,False,True,False,False,False,False,False,True

In [16]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7953 entries, 0 to 7952
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   transaction_id                 7478 non-null   float64
 1   customer_id                    7532 non-null   float64
 2   merchant_id                    7481 non-null   float64
 3   amount                         7261 non-null   float64
 4   transaction_time               7385 non-null   object
 5   fraud                          7228 non-null   float64
 6   customer_age                   7285 non-null   float64
 7   card_type_MasterCard           7953 non-null   bool
 8   card_type_Rupay                7953 non-null   bool
 9   card_type_Visa                 7953 non-null   bool
 10  location_Ahmedabad             7953 non-null   bool
 11  location_Bangalore             7953 non-null   bool
 12  location_Chennai               7953 non-null   bool
 13  location_Delhi                 7953 non-null   bool
 14  location_Hyderabad             7953 non-null   bool
 15  location_Jaipur                7953 non-null   bool
 16  location_Kolkata               7953 non-null   bool
 17  location_Mumbai                7953 non-null   bool
 18  location_Pune                  7953 non-null   bool
 19  location_Surat                 7953 non-null   bool
 20  purchase_category_Digital      7953 non-null   bool
 21  purchase_category_POS          7953 non-null   bool
 22  fraud_type_Identity theft      7953 non-null   bool
 23  fraud_type_Malware             7953 non-null   bool
 24  fraud_type_Payment card fraud  7953 non-null   bool
 25  fraud_type_phishing            7953 non-null   bool
 26  fraud_type_scam                7953 non-null   bool
dtypes: bool(20), float64(6), object(1)
memory usage: 590.4+ KB

In [17]:
print(df_cleaned.isnull().sum())

transaction_id                   475
customer_id                      421
merchant_id                      472
amount                           692
transaction_time                 568
fraud                            725
customer_age                     668
card_type_MasterCard               0
card_type_Rupay                    0
card_type_Visa                     0
location_Ahmedabad                 0
location_Bangalore                 0
location_Chennai                   0
location_Delhi                     0
location_Hyderabad                 0
location_Jaipur                    0
location_Kolkata                   0
location_Mumbai                    0
location_Pune                      0
location_Surat                     0
purchase_category_Digital          0
purchase_category_POS              0
fraud_type_Identity theft          0
fraud_type_Malware                 0
fraud_type_Payment card fraud      0
fraud_type_phishing                0
fraud_type_scam                    0
dtype: int64

In [18]:
df_cleaned = df_cleaned.dropna(subset=['transaction_time', 'fraud','customer_age','amount','merchant_id','customer_id','transaction_id'])

In [19]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4660 entries, 0 to 7951
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   transaction_id                 4660 non-null   float64
 1   customer_id                    4660 non-null   float64
 2   merchant_id                    4660 non-null   float64
 3   amount                         4660 non-null   float64
 4   transaction_time               4660 non-null   object
 5   fraud                          4660 non-null   float64
 6   customer_age                   4660 non-null   float64
 7   card_type_MasterCard           4660 non-null   bool
 8   card_type_Rupay                4660 non-null   bool
 9   card_type_Visa                 4660 non-null   bool
 10  location_Ahmedabad             4660 non-null   bool
 11  location_Bangalore             4660 non-null   bool
 12  location_Chennai               4660 non-null   bool
 13  location_Delhi                 4660 non-null   bool
 14  location_Hyderabad             4660 non-null   bool
 15  location_Jaipur                4660 non-null   bool
 16  location_Kolkata               4660 non-null   bool
 17  location_Mumbai                4660 non-null   bool
 18  location_Pune                  4660 non-null   bool
 19  location_Surat                 4660 non-null   bool
 20  purchase_category_Digital      4660 non-null   bool
 21  purchase_category_POS          4660 non-null   bool
 22  fraud_type_Identity theft      4660 non-null   bool
 23  fraud_type_Malware             4660 non-null   bool
 24  fraud_type_Payment card fraud  4660 non-null   bool
 25  fraud_type_phishing            4660 non-null   bool
 26  fraud_type_scam                4660 non-null   bool
dtypes: bool(20), float64(6), object(1)
memory usage: 382.3+ KB

In [20]:
print(df_cleaned.isnull().sum())

transaction_id                   0
customer_id                      0
merchant_id                      0
amount                           0
transaction_time                 0
fraud                            0
customer_age                     0
card_type_MasterCard             0
card_type_Rupay                  0
card_type_Visa                   0
location_Ahmedabad               0
location_Bangalore               0
location_Chennai                 0
location_Delhi                   0
location_Hyderabad               0
location_Jaipur                  0
location_Kolkata                 0
location_Mumbai                  0
location_Pune                    0
location_Surat                   0
purchase_category_Digital        0
purchase_category_POS            0
fraud_type_Identity theft        0
fraud_type_Malware               0
fraud_type_Payment card fraud    0
fraud_type_phishing              0
fraud_type_scam                  0
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

x = df_cleaned.drop(columns= ["fraud"])
y = df_cleaned["fraud"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.2, random_state= 42 )

In [ ]:

x_train['transaction_time'] = pd.to_datetime(x_train['transaction_time'])


x_train['hour'] = x_train['transaction_time'].dt.hour
x_train['day'] = x_train['transaction_time'].dt.day
x_train['month'] = x_train['transaction_time'].dt.month
x_train['weekday'] = x_train['transaction_time'].dt.dayofweek


x_train = x_train.drop('transaction_time', axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler


for df_cleaned in [x_train, x_test]:
    if 'transaction_time' in df_cleaned.columns:
        df_cleaned['transaction_time'] = pd.to_datetime(df['transaction_time'])
        df_cleaned['hour'] = df_cleaned['transaction_time'].dt.hour
        df_cleaned['day'] = df_cleaned['transaction_time'].dt.day
        df_cleaned['month'] = df_cleaned['transaction_time'].dt.month
        df_cleaned['weekday'] = df_cleaned['transaction_time'].dt.dayofweek
       
        df_cleaned.drop('transaction_time', axis=1, inplace=True)


scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [24]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver = 'saga',max_iter= 1500000, tol= 1e-5, C= 1.0, random_state=42)
model.fit(x_train_scaled,y_train)

import joblib
joblib.dump(model,r'C:\Users\USER\Desktop\HACKATHONS\e-cell hackathon\Models\fraud_model.pkl')

['C:\\Users\\USER\\Desktop\\HACKATHONS\\e-cell hackathon\\Models\\fraud_model.pkl']

In [25]:
y_pred = model.predict(x_test)

from sklearn.metrics import accuracy_score
print("accuracy:", accuracy_score(y_test,y_pred))

accuracy: 0.6931330472103004

C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [26]:
from sklearn.metrics import precision_recall_fscore_support, roc_auc_score

y_pred = model.predict(x_test_scaled)
precision, recall, f1, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
auc = roc_auc_score(y_test, model.predict_proba(x_test_scaled)[:,1])

print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1:.4f}")
print(f"AUC-ROC: {auc:.4f}")

Precision: 0.6176
Recall: 0.0734
F1 Score: 0.1313
AUC-ROC: 0.6150

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    min_samples_split=10,
    class_weight='balanced',
    random_state=42
)
rf_model.fit(x_train, y_train)


rf_accuracy = rf_model.score(x_test, y_test)
print(f"Random Forest Accuracy: {rf_accuracy:.4f}")

joblib.dump(rf_model,r'C:\Users\USER\Desktop\HACKATHONS\e-cell hackathon\Models\rf_fraud_model.pkl')

Random Forest Accuracy: 0.9914

['C:\\Users\\USER\\Desktop\\HACKATHONS\\e-cell hackathon\\Models\\rf_fraud_model.pkl']

In [ ]:

from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [8, 10, 12],
    'min_samples_split': [5, 10, 15],
    'min_samples_leaf': [2, 4]
}

grid_search = GridSearchCV(
    RandomForestClassifier(class_weight='balanced', random_state=42),
    param_grid,
    cv=5,
    scoring='f1',
    n_jobs=-1
)

grid_search.fit(x_train, y_train)
best_rf_model = grid_search.best_estimator_

In [30]:
print("Best parameters:", grid_search.best_params_)
print("Best cross-validation score:", grid_search.best_score_)

Best parameters: {'max_depth': 12, 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 200}
Best cross-validation score: 0.9911437397731181

In [ ]:
y_pred = best_rf_model.predict(x_test)


from sklearn.metrics import accuracy_score
print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")


from sklearn.metrics import precision_recall_fscore_support, roc_auc_score
precision, recall, f1, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
auc = roc_auc_score(y_test, best_rf_model.predict_proba(x_test)[:,1])

print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1:.4f}")
print(f"AUC-ROC: {auc:.4f}")

Accuracy: 0.9946
Precision: 0.9895
Recall: 0.9930
F1 Score: 0.9913
AUC-ROC: 1.0000

In [32]:
import joblib
joblib.dump(best_rf_model, r'C:\Users\USER\Desktop\HACKATHONS\e-cell hackathon\Models\best_rf_fraud_model.pkl')

['C:\\Users\\USER\\Desktop\\HACKATHONS\\e-cell hackathon\\Models\\best_rf_fraud_model.pkl']